<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

{%- include snippets/get-article-title.html article=page -%}
<title>{%- if __return -%}{{ __return }} — {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>

<meta
  name="description"
  content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}"
/>
<link rel="canonical" href="{%- include snippets/page-url.html -%}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%} {%- include
snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}" />

{%- include head/favicon.html -%} {%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}" />

{%- include snippets/get-sources.html -%} {%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}" />

{%- include head/custom.html -%}
