@mixin _author-name($author-text-color) {
  & > ul {
    margin: 0;
    & > li {
      margin-right: 0.75rem;
      &:last-of-type {
        margin-right: 0;
      }
      & > {
        .mail-button {
          @include clickable($author-text-color, transparent, $mail-color !important);
        }
        .facebook-button {
          @include clickable($author-text-color, transparent, $facebook-color !important);
        }
        .twitter-button {
          @include clickable($author-text-color, transparent, $twitter-color !important);
        }
        .weibo-button {
          @include clickable($author-text-color, transparent, $weibo-color !important);
        }
        .googlepluse-button {
          @include clickable($author-text-color, transparent, $google-plus-color !important);
        }
        .telegram-button {
          @include clickable($author-text-color, transparent, $telegram-color !important);
        }
        .medium-button {
          @include clickable($author-text-color, transparent, $medium-color !important);
        }
        .zhihu-button {
          @include clickable($author-text-color, transparent, $zhihu-color !important);
        }
        .douban-button {
          @include clickable($author-text-color, transparent, $douban-color !important);
        }
        .linkedin-button {
          @include clickable($author-text-color, transparent, $linkedin-color !important);
        }
        .github-button {
          @include clickable($author-text-color, transparent, $github-color !important);
        }
        .npm-button {
          @include clickable($author-text-color, transparent, $npm-color !important);
        }
        .instagram-button {
          @include clickable($author-text-color, transparent, $instagram-color !important);
          &:hover .instagram {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          }
        }
        .youtube-button {
          @include clickable($author-text-color, transparent, $youtube-color !important);
        }
        .vimeo-button {
          @include clickable($author-text-color, transparent, $vimeo-color !important);
        }
        .pinterest-button {
          @include clickable($author-text-color, transparent, $pinterest-color !important);
        }
        .patreon-button {
          @include clickable($author-text-color, transparent, $patreon-color !important);
        }
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    line-height: 1;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .instagram {
    color: transparent;
    background: $author-text-color;
    -webkit-clip-path: path(
      "M 19.929996,5.8774161 C 19.881331,4.812746 19.712663,4.0861096 19.46533,3.4501421 19.209997,2.7928207 18.867997,2.2348232 18.311997,1.6788288 17.755997,1.1228344 17.198663,0.7808323 16.540663,0.5254929 15.904664,0.2779392 15.177331,0.109527 14.11333,0.0608477 13.046664,0.011337 12.705997,-1.3e-6 9.989998,-1.3e-6 c -2.715999,0 -3.0566661,0.011338 -4.1226657,0.060093 C 4.8026661,0.1088467 4.0759991,0.2777878 3.4399993,0.5247746 2.7826664,0.7802652 2.2246666,1.1221161 1.6686667,1.6780727 1.1126668,2.2340671 0.7706668,2.7914221 0.5153335,3.4493482 0.2680014,4.0853913 0.0993336,4.8126703 0.050667,5.8766601 0.001335,6.9434089 -0.01,7.28405 -0.01,9.999998 c 0,2.715949 0.011339,3.05659 0.060002,4.122583 0.048667,1.064632 0.217333,1.791307 0.4646667,2.427312 0.2553333,0.657283 0.5973333,1.215281 1.1533332,1.771275 0.5559998,0.555995 1.1133329,0.897959 1.7713329,1.153299 C 4.0753347,19.72202 4.802668,19.89047 5.8666675,19.93915 6.9333338,19.98866 7.274001,20 9.99,20 c 2.715999,0 3.056666,-0.01134 4.122666,-0.06009 1.064667,-0.04875 1.791333,-0.217696 2.427333,-0.464645 0.657333,-0.25549 1.215333,-0.597303 1.771333,-1.153336 0.556,-0.555994 0.898,-1.113274 1.153333,-1.771238 0.247332,-0.636005 0.416,-1.363359 0.464667,-2.427311 0.04933,-1.066673 0.06067,-1.407315 0.06067,-4.123263 0,-2.715948 -0.01134,-3.0565897 -0.06,-4.1225827 z m -1.799999,8.1631509 c -0.04467,0.974682 -0.207333,1.504636 -0.343997,1.856653 -0.181334,0.466649 -0.398,0.799958 -0.748,1.15001 -0.349999,0.349977 -0.683333,0.566653 -1.15,0.747953 -0.352667,0.136816 -0.882,0.29971 -1.856667,0.34393 -1.053999,0.048 -1.370666,0.0582 -4.040665,0.0582 -2.67,0 -2.986666,-0.01134 -4.0406659,-0.0582 C 4.9753356,18.094513 4.4453354,17.931999 4.0933354,17.795183 3.6266691,17.613769 3.2933358,17.397207 2.9433359,17.04723 2.593336,16.697254 2.3766697,16.363869 2.1953362,15.89722 c -0.1366674,-0.352622 -0.3000003,-0.881971 -0.344,-1.856653 -0.048,-1.054617 -0.058,-1.370578 -0.058,-4.040568 0,-2.669952 0.01,-2.986632 0.058,-4.0405689 0.044666,-0.9746437 0.2073322,-1.5046732 0.344,-1.8566153 C 2.3766699,3.6360908 2.593336,3.3027814 2.9433359,2.9528047 3.2933359,2.6028279 3.6266691,2.3861523 4.0933354,2.2048144 4.4460021,2.0679984 4.9753356,1.9051043 5.9500021,1.8608848 7.004668,1.8128858 7.320668,1.8026808 9.990668,1.8026808 c 2.669999,0 2.986666,0.011338 4.040665,0.058204 C 15.006,1.9054818 15.536,2.0679984 15.888,2.2048144 c 0.466667,0.1814134 0.8,0.3979757 1.15,0.7479903 0.349999,0.3499767 0.566666,0.6832861 0.748,1.1500101 0.136671,0.3526224 0.299999,0.8819716 0.343997,1.8566153 0.048,1.0546169 0.058,1.3706169 0.058,4.0405689 0,2.66999 -0.01,2.986594 -0.058,4.040568 z M 9.989998,4.8647512 c -2.835999,0 -5.1353322,2.2993018 -5.1353322,5.1352478 0,2.835945 2.2993332,5.135247 5.1353322,5.135247 2.835999,0 5.135332,-2.299302 5.135332,-5.135247 0,-2.835946 -2.299333,-5.1352478 -5.135332,-5.1352478 z m 0,8.4685308 c -1.840666,0 -3.3333327,-1.492655 -3.3333327,-3.333283 0,-1.840629 1.4926667,-3.3332832 3.3333327,-3.3332832 1.840666,0 3.333333,1.4926542 3.333333,3.3332832 0,1.840628 -1.492667,3.333283 -3.333333,3.333283 z m 5.337999,-9.8711591 c -0.662667,0 -1.2,0.537324 -1.2,1.1999744 0,0.6626504 0.537333,1.1999743 1.2,1.1999743 0.662667,0 1.2,-0.5373239 1.2,-1.1999743 0,-0.6626504 -0.537333,-1.1999744 -1.2,-1.1999744 z"
    );
    clip-path: path(
      "M 19.929996,5.8774161 C 19.881331,4.812746 19.712663,4.0861096 19.46533,3.4501421 19.209997,2.7928207 18.867997,2.2348232 18.311997,1.6788288 17.755997,1.1228344 17.198663,0.7808323 16.540663,0.5254929 15.904664,0.2779392 15.177331,0.109527 14.11333,0.0608477 13.046664,0.011337 12.705997,-1.3e-6 9.989998,-1.3e-6 c -2.715999,0 -3.0566661,0.011338 -4.1226657,0.060093 C 4.8026661,0.1088467 4.0759991,0.2777878 3.4399993,0.5247746 2.7826664,0.7802652 2.2246666,1.1221161 1.6686667,1.6780727 1.1126668,2.2340671 0.7706668,2.7914221 0.5153335,3.4493482 0.2680014,4.0853913 0.0993336,4.8126703 0.050667,5.8766601 0.001335,6.9434089 -0.01,7.28405 -0.01,9.999998 c 0,2.715949 0.011339,3.05659 0.060002,4.122583 0.048667,1.064632 0.217333,1.791307 0.4646667,2.427312 0.2553333,0.657283 0.5973333,1.215281 1.1533332,1.771275 0.5559998,0.555995 1.1133329,0.897959 1.7713329,1.153299 C 4.0753347,19.72202 4.802668,19.89047 5.8666675,19.93915 6.9333338,19.98866 7.274001,20 9.99,20 c 2.715999,0 3.056666,-0.01134 4.122666,-0.06009 1.064667,-0.04875 1.791333,-0.217696 2.427333,-0.464645 0.657333,-0.25549 1.215333,-0.597303 1.771333,-1.153336 0.556,-0.555994 0.898,-1.113274 1.153333,-1.771238 0.247332,-0.636005 0.416,-1.363359 0.464667,-2.427311 0.04933,-1.066673 0.06067,-1.407315 0.06067,-4.123263 0,-2.715948 -0.01134,-3.0565897 -0.06,-4.1225827 z m -1.799999,8.1631509 c -0.04467,0.974682 -0.207333,1.504636 -0.343997,1.856653 -0.181334,0.466649 -0.398,0.799958 -0.748,1.15001 -0.349999,0.349977 -0.683333,0.566653 -1.15,0.747953 -0.352667,0.136816 -0.882,0.29971 -1.856667,0.34393 -1.053999,0.048 -1.370666,0.0582 -4.040665,0.0582 -2.67,0 -2.986666,-0.01134 -4.0406659,-0.0582 C 4.9753356,18.094513 4.4453354,17.931999 4.0933354,17.795183 3.6266691,17.613769 3.2933358,17.397207 2.9433359,17.04723 2.593336,16.697254 2.3766697,16.363869 2.1953362,15.89722 c -0.1366674,-0.352622 -0.3000003,-0.881971 -0.344,-1.856653 -0.048,-1.054617 -0.058,-1.370578 -0.058,-4.040568 0,-2.669952 0.01,-2.986632 0.058,-4.0405689 0.044666,-0.9746437 0.2073322,-1.5046732 0.344,-1.8566153 C 2.3766699,3.6360908 2.593336,3.3027814 2.9433359,2.9528047 3.2933359,2.6028279 3.6266691,2.3861523 4.0933354,2.2048144 4.4460021,2.0679984 4.9753356,1.9051043 5.9500021,1.8608848 7.004668,1.8128858 7.320668,1.8026808 9.990668,1.8026808 c 2.669999,0 2.986666,0.011338 4.040665,0.058204 C 15.006,1.9054818 15.536,2.0679984 15.888,2.2048144 c 0.466667,0.1814134 0.8,0.3979757 1.15,0.7479903 0.349999,0.3499767 0.566666,0.6832861 0.748,1.1500101 0.136671,0.3526224 0.299999,0.8819716 0.343997,1.8566153 0.048,1.0546169 0.058,1.3706169 0.058,4.0405689 0,2.66999 -0.01,2.986594 -0.058,4.040568 z M 9.989998,4.8647512 c -2.835999,0 -5.1353322,2.2993018 -5.1353322,5.1352478 0,2.835945 2.2993332,5.135247 5.1353322,5.135247 2.835999,0 5.135332,-2.299302 5.135332,-5.135247 0,-2.835946 -2.299333,-5.1352478 -5.135332,-5.1352478 z m 0,8.4685308 c -1.840666,0 -3.3333327,-1.492655 -3.3333327,-3.333283 0,-1.840629 1.4926667,-3.3332832 3.3333327,-3.3332832 1.840666,0 3.333333,1.4926542 3.333333,3.3332832 0,1.840628 -1.492667,3.333283 -3.333333,3.333283 z m 5.337999,-9.8711591 c -0.662667,0 -1.2,0.537324 -1.2,1.1999744 0,0.6626504 0.537333,1.1999743 1.2,1.1999743 0.662667,0 1.2,-0.5373239 1.2,-1.1999743 0,-0.6626504 -0.537333,-1.1999744 -1.2,-1.1999744 z"
    );
  }
}

.author-links--dark {
  @include _author-name($text-color-1);
}

.author-links--light {
  @include _author-name($text-color-2);
}
