/**
 * Site Info
 */

.footer {
  @include flexbox();
  @include align-items(center);
  color: $footer-text-color;
  background: $footer-background;
  min-height: 28vh;
  .site-info {
    font-size: map-get($base, font-size-xs);
    text-align: left;
    .menu {
      line-height: map-get($base, line-height-xs);
      & > * {
        &:not(:last-child) {
          @include split-line(right, default, $footer-text-color);
          padding-right: map-get($spacers, 1);
          margin-right: map-get($spacers, 1);
        }
      }
    }
  }
  .main {
    min-height: 23vh;
  }
}
.footer__author-links {
  @include overflow(auto);
  .author-links {
    text-align: center;
  }
}
