.header {
  background: $header-background;
  a {
    font-weight: map-get($base, font-weight);
    text-decoration: none !important;
  }
  .main {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 4vw;
    padding-right: 4vw;

    .main_menu {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      @include media-breakpoint-down(md) {
        @include flex-direction(column);
      }
      @include media-breakpoint-up(sm) {
        margin-top: -2rem;
      }
      width: 100%;
    }
  }
}

.header--dark {
  @extend .text--dark;
  background: rgba(#000, 0.15);
  .navigation__item--active {
    a {
      @include link-colors(darken($text-color-1, 20%), darken($text-color-1, 20%));
      @include split-line(bottom, 2px, darken($text-color-1, 20%));
    }
  }
}

.header--light {
  @extend .text--light;
  background: rgba(#fff, 0.15);
  .navigation__item--active {
    a {
      @include link-colors(lighten($text-color-1, 20%), lighten($text-color-1, 20%));
      @include split-line(bottom, 2px, darken($text-color-1, 20%));
    }
  }
}

.header__title {
  @include align-items(center);
  @include flex-wrap(nowrap);
  @include flex(1);
  height: auto;
  margin-bottom: map-get($spacers, 3);
  white-space: nowrap;
  & > .header__brand {
    @include flex(1);
    @include media-breakpoint-down(md) {
      height: map-get($layout, header-height-sm);
    }
    a {
      font-size: calc((2 - 1) * 1.2vw + 1rem);
      font-weight: bold;
    }
  }
  & > .search-button {
    display: none;
    margin-left: map-get($spacers, 2);
    @include media-breakpoint-down(md) {
      @include flexbox();
    }
  }
}

.header__brand {
  @include flexbox();
  @include align-items(center);
  & > svg {
    width: map-get($base, font-size-h4) * 1.6;
    height: map-get($base, font-size-h4) * 1.6;
    margin-right: map-get($spacers, 3);
    vertical-align: middle;
    @include media-breakpoint-down(md) {
      width: map-get($base, font-size-h4) * 1.2;
      height: map-get($base, font-size-h4) * 1.2;
    }
  }
  & > a {
    display: inline-block;
    font-size: map-get($base, font-size-h4);
    @include media-breakpoint-down(md) {
      font-size: map-get($base, font-size-h4-small);
    }
  }
}

.social {
  @include media-breakpoint-up(sm) {
    margin-right: 2rem;
  }
}

.navigation {
  @include overflow(auto, "x");
  & > ul {
    height: auto;
    padding-bottom: 0;
    margin: 0;
    @include media-breakpoint-down(md) {
      padding-bottom: 4px;
      margin: -4px 0 0 0;
    }
    @include media-breakpoint-up(sm) {
      margin-top: 2rem;
    }
    @include menu(0, 0, wrap);
    @include align-items(center);
    @include justify-content(center);
    .search-button {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.navigation__item {
  margin-left: 0.9vw !important;
  margin-right: 0.9vw !important;
  a {
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  }
}

.connect {
  @include media-breakpoint-up(sm) {
    margin-left: 2rem;
  }
}
